@media(max-width: 1200px) {
    .soc_seti_footer {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 80px;
        row-gap: 20px;
        img {
            width: 130px;
            height: 130px;
        }
        .soc_seti_footer {
            font-size: 25px;
        }
        .inst_footer {
            font-size: 25px;
        }
        .tg_footer {
            font-size: 25px;
        }
    }
    .shapka_footera {
        font-size: 2vw;
    }
    .contacts_div a {
        font-size: 2.7vw !important;
    }
    .contacts {
        font-size: 2.7vw;
    }
    .bg_name_div p {
        font-size: 85px;
    }
    .swiper-container {
        max-height: 91vh;
    }
}

@media (max-width:576px) {
    .nav_div {
        display: none;
    }
    .adaptedMenu {
        display: block;
    }
    .connect_btn {
        width: 130px;
        height: 35px;
        font-size: 0.8em;
    }
    .logo {
        width: 140px;
    }
    .swiper-pagination {
        top: 35% !important;
        right: 0px !important;
    }
    .main_title {
        margin-left: 30px;
        position: absolute;
        top: 200px;
    }
    .secondTitle {
        position: absolute;
        top: 200px;
    }
    .main_title h1 {
        font-size: 22px;
    }
    .main_title p {
        font-size: 17px;
        max-width: 300px;
        margin-bottom: 68px;
    }
    .title_btns {
        flex-direction: column;
    }
    .watchEdits {
        width: 175px;
        height: 45px;
        font-size: 0.9rem;
    }
    .inst_acc {
        width: 175px;
        height: 45px;
        font-size: 0.9rem;
    }
    .swiper-container {
        max-height: unset;
    }
    .video-bg video {
        height: 83vh;
    }
    .secondTitle {
        margin-left: 30px;
    }
    .txts_div {
        h1 {
            font-size: 23px;
        }
        p {
            font-size: 17px;
            max-width: 360px;
        }
    }
    .acc_statistics {
        gap: 10px;
    }
    .sCount {
        font-size: 3.8vw;
    }
    .subs_txt {
        font-size: 8px;
    }
    .first_footer {
        margin-left: 30px;
        position: absolute;
        top: 200px;
    }
    .shapka_footera {
        font-size: 5vw;
    }
    .soc_seti_footer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 60px;
        row-gap: 20px;
        img {
            width: 90px;
            height: 90px;
        }
    }
    .tiktok_footer {
        font-size: 6vw;
    }
    .last_footer {
        margin-left: 80px;
    }
    .bg_name_div p {
        display: none;
    }
    .contacts {
        font-size: 6.7vw;
    }
    .contacts_div a {
        font-size: 5.7vw !important;
    }
    .contacts_div {
        position: absolute;
        top: 300px;
    }
    .div_for_logo_nav {
        gap: 10px;
    }
    .header {
        a {
            
            margin-left: 30px;
        }
    }
}