@media(max-width: 1200px) {
    .first_footer {
        margin-left: 70px;
        img {
            width: 170px;
            height: 170px;
        }
        .shapka_footera {
            font-size: 3vh;
        }
    }
    .last_footer {
        margin-left: 70px;
    }
    .contacts {
        font-size: 3vh;
    }
    .bg_name_div p {
        font-size: 100px;
    }
}

@media (max-width:992px) {
    .nav_div {
        display: none;
    }
    .main_title {
        margin-left: 105px;
    }
    .secondTitle {
        margin-left: 105px;
    }
    .swiper-slide {
        font-size: 19px;
    }
    .acc_statistics span{
        font-size: 24px !important;
    }
    .subs_txt {
        font-size: 8px;
    }
    .soc_seti_footer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 150px;
        gap: 130px;
    }
    .bg_name_div p {
        font-size: 75px;
    }
    .swiper-pagination {
        right: 30px;
    }
}

@media (max-width:768px) {
    .main_title {
        margin-left: 55px;
        h1 {
            margin-bottom: 16px;
        }
        p {
            max-width: 400px;
        }
    }
    .secondTitle {
        margin-left: 55px;
    }
    .last_footer {
        margin-left: 55px;
    }
    .txts_div {
        h1 {
            margin-bottom: 16px;
        }
    }
    .swiper-slide {
        font-size: 15px;
    }
    .txts_div {
        p {
            max-width: 400px;
        }
    }
    .acc_statistics {
        gap: 38px;
    }
    .bg_name_div p {
        font-size: 56px;
    }
    .soc_seti_footer {
        grid-template-rows: 95px;
        img {
            width: 150px;
            height: 150px;
        }
    }
    .watchEdits {
        width: 200px;
        font-size: 0.9rem;
    }
    .inst_acc {
        width: 205px;
        font-size: 0.9rem;
    }
}

@media (max-width:576px) {
    .main_title {
        max-width: 300px;
        h1 {
            margin-bottom: 8px;
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
    .secondTitle {
        max-width: 300px;
    }
    .connect_btn {
        width: 130px;
        font-size: 0.8rem;
    }
    .title_btns {
        flex-direction: column;
        gap: 20px;
    }
    .watchEdits {
        width: 170px;
        font-size: 0.7rem;
        height: 50px;
    }
    .inst_acc {
        width: 170px;
        font-size: 0.7rem;
        height: 50px;
    }
    .swiper-pagination {
        right: -3px !important;
    }
    .swiper-pagination-bullet {
        width: 0.7rem;
        height: 0.7rem;
    }
    .txts_div {
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
    .acc_statistics span {
        font-size: 15px !important;
    }
    .main_title {
        margin-left: 30px;
    }
    
    .secondTitle {
        margin-left: 30px;
    }
    .soc_seti_footer {
        display: flex;
        flex-direction: column;
        gap: 70px;
        img {
            display: none;
        }
    }
    .inst_footer {
        font-size: 23px;
    }
    .tiktok_footer {
        font-size: 23px;
    }
    .tg_footer {
        font-size: 23px;
    }
    .bg_name_div {
        display: none;
    }
    .contacts_div a {
        font-size: 27px !important;
    }
    .acc_statistics {
        flex-direction: column;
    }
}